tools/ftl/schema/modules/modules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../common/doc.xsd" />
  <xs:complexType name="moduleType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:sequence>
          <xs:element name="public" type="publicType"></xs:element>
          <xs:element name="private" type="privateType"></xs:element>
        </xs:sequence>
        <xs:attribute name="check" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="module" type="moduleType"></xs:element>
  <xs:complexType name="privateType">
    <xs:sequence>
      <xs:element name="inclusions" type="inclusionsType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="definitions" type="definitionsType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="types" type="typesType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="variables" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="functions" type="functionsType" maxOccurs="1" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicType">
    <xs:sequence>
      <xs:element name="inclusions" type="inclusionsType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="definitions_early" type="definitionsType" maxOccurs="1"
        minOccurs="0">
      </xs:element>
      <xs:element name="configs" type="configsType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="definitions_late" type="definitionsType" maxOccurs="1"
        minOccurs="0"></xs:element>
      <xs:element name="macros" type="macrosType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="types" type="typesType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="classes" type="classesType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="variables" type="variablesType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="functions" type="functionsType" maxOccurs="1" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configsType">
    <xs:sequence>
      <xs:element name="config" type="configType" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inclusionsType">
    <xs:sequence>
      <xs:element name="include" type="includeType" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="definitionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="define" type="defineType" maxOccurs="unbounded" minOccurs="0"></xs:element>
      <xs:element name="group" type="groupType" maxOccurs="unbounded" minOccurs="0"></xs:element>
      <xs:element name="condition" type="conditionalDefinitionsType"
        maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="macrosType">
    <xs:sequence>
      <xs:element name="macro" type="macroType" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="typesType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="typedef" type="typedefType" maxOccurs="unbounded" minOccurs="0"></xs:element>
        <xs:element name="struct" type="structType" maxOccurs="unbounded" minOccurs="0"></xs:element>
        <xs:element name="union" type="unionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
        <xs:element name="verbatim" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="classesType">
    <xs:sequence>
      <xs:element name="class" type="classType" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="functionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="function" type="functionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
      <xs:element name="condition" type="conditionalFunctionsType" maxOccurs="unbounded"
        minOccurs="0">
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="classType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:sequence>
          <xs:element name="fields" type="fieldsType" maxOccurs="1" minOccurs="1">
          </xs:element>
          <xs:element name="methods" type="methodsType" maxOccurs="1" minOccurs="1">
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="classTypeType"></xs:attribute>
        <xs:attribute name="namespace">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"></xs:minLength>
              <xs:whiteSpace value="collapse"></xs:whiteSpace>
              <xs:pattern value="\w+"></xs:pattern>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="ancestor" type="xs:string"></xs:attribute>
        <xs:attribute name="descr" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fieldsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element name="field" type="fieldType" maxOccurs="unbounded" minOccurs="0"></xs:element>
      <xs:element name="verbatim" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
      <xs:element name="condition" type="conditionalFieldType" maxOccurs="unbounded"
        minOccurs="0">
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="classTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="interface"></xs:enumeration>
      <xs:enumeration value="abstract"></xs:enumeration>
      <xs:enumeration value="regular"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="methodsType">
    <xs:sequence>
      <xs:element name="objinit" type="objinitMethodType" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="dispose" type="disposeMethodType" maxOccurs="1" minOccurs="1"></xs:element>
      <xs:element name="virtual" type="virtualMethodsType" maxOccurs="1" minOccurs="0"></xs:element>
      <xs:element name="regular" type="regularMethodsType" maxOccurs="1" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="functionType">
    <xs:complexContent>
      <xs:extension base="ParameterizedItemType">
        <xs:sequence>
          <xs:element name="implementation" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
        </xs:sequence>
        <xs:attribute name="ctype" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ParameterizedItemType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:sequence>
          <xs:element name="param" type="paramType"
            maxOccurs="unbounded" minOccurs="0">
          </xs:element>
          <xs:element name="return" type="xs:string" maxOccurs="1"
            minOccurs="0">
          </xs:element>
          <xs:element name="retval" type="retvalType"
            maxOccurs="unbounded" minOccurs="0">
          </xs:element>
          <xs:element name="class" maxOccurs="1" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="regular"></xs:enumeration>
                <xs:enumeration value="iclass"></xs:enumeration>
                <xs:enumeration value="sclass"></xs:enumeration>
                <xs:enumeration value="xclass"></xs:enumeration>
                <xs:enumeration value="init"></xs:enumeration>
                <xs:enumeration value="dispose"></xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="regularMethodType">
    <xs:complexContent>
      <xs:extension base="ParameterizedItemType">
        <xs:sequence>
          <xs:element name="implementation" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
        </xs:sequence>
        <xs:attribute name="ctype" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="paramType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string"></xs:attribute>
        <xs:attribute name="ctype" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="virtualMethodType">
    <xs:complexContent>
      <xs:extension base="ParameterizedItemType">
        <xs:sequence>
          <xs:element name="implementation" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="ctype" type="xs:string"></xs:attribute>
        <xs:attribute name="shortname" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="objinitMethodType">
    <xs:sequence>
      <xs:element name="implementation" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="disposeMethodType">
    <xs:sequence>
      <xs:element name="implementation" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="includeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="style">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="regular"></xs:enumeration>
              <xs:enumeration value="angular"></xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="defineType">
    <xs:complexContent>
      <xs:extension base="ParameterizedItemType">
        <xs:attribute name="value" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="define" type="defineType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="group" type="groupType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalDefinitionsType"
        maxOccurs="unbounded" minOccurs="1"></xs:element>
    </xs:choice>
    <xs:attribute name="description" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="configType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:sequence>
          <xs:element name="assert" type="assertType" maxOccurs="unbounded" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="default" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="macroType">
    <xs:complexContent>
      <xs:extension base="ParameterizedItemType">
        <xs:sequence>
          <xs:element name="implementation" type="xs:string" maxOccurs="1" minOccurs="1"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fieldType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:attribute name="ctype" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="typedefType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element name="basetype" type="basetypeType" maxOccurs="1" minOccurs="1"></xs:element>
          <xs:element name="structtype" type="structtypeType" maxOccurs="1" minOccurs="1"></xs:element>
          <xs:element name="uniontype" type="uniontypeType" maxOccurs="1" minOccurs="1"></xs:element>
          <xs:element name="enumtype" type="enumtypeType" maxOccurs="1" minOccurs="1"></xs:element>
          <xs:element name="functype" type="functtypeType" maxOccurs="1" minOccurs="1"></xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="basetypeType">
    <xs:attribute name="ctype" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="functtypeType"></xs:complexType>
  <xs:complexType name="structtypeType">
    <xs:sequence>
      <xs:element name="fields" type="fieldsType" maxOccurs="1" minOccurs="1"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="enumtypeType"></xs:complexType>
  <xs:complexType name="structType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:sequence>
          <xs:element name="fields" type="fieldsType" maxOccurs="1" minOccurs="1"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="uniontypeType">
    <xs:sequence>
      <xs:element name="fields" type="fieldsType" maxOccurs="1" minOccurs="1"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="unionType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:sequence>
          <xs:element name="fields" type="fieldsType" maxOccurs="1" minOccurs="1"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="instanceType">
    <xs:sequence>
      <xs:element name="modules" type="modulesType" maxOccurs="1" minOccurs="1"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="instance" type="instanceType"></xs:element>
  <xs:complexType name="modulesType">
    <xs:sequence>
      <xs:element name="module" type="moduleType" maxOccurs="unbounded" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conditionalFieldType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="field" type="fieldType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="verbatim" type="xs:string"></xs:element>
      <xs:element name="condition" type="conditionalFieldType" maxOccurs="unbounded"
        minOccurs="1">
      </xs:element>
    </xs:choice>
    <xs:attribute name="check" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="virtualMethodsType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="method" type="virtualMethodType" maxOccurs="unbounded"
        minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalVirtualMethodsType"
        maxOccurs="unbounded" minOccurs="1"></xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="conditionalVirtualMethodsType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="method" type="virtualMethodType" maxOccurs="unbounded"
        minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalVirtualMethodsType"
        maxOccurs="unbounded" minOccurs="1"></xs:element>
    </xs:choice>
    <xs:attribute name="check" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="regularMethodsType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="method" type="regularMethodType" maxOccurs="unbounded"
        minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalRegularMethodsType"
        maxOccurs="unbounded" minOccurs="1">
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="conditionalRegularMethodsType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="method" type="regularMethodType" maxOccurs="unbounded"
        minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalRegularMethodsType"
        maxOccurs="unbounded" minOccurs="1">
      </xs:element>
    </xs:choice>
    <xs:attribute name="check" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="conditionalDefinitionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="define" type="defineType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="group" type="groupType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalDefinitionsType"
        maxOccurs="unbounded" minOccurs="1">
      </xs:element>
    </xs:choice>
    <xs:attribute name="check" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="assertType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="invalid" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="conditionalFunctionsType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="function" type="functionType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalFunctionsType" maxOccurs="unbounded"
        minOccurs="1">
      </xs:element>
    </xs:choice>
    <xs:attribute name="check" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="variablesType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="variable" type="variableType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalVariablesType" maxOccurs="unbounded"
        minOccurs="1">
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="variableType">
    <xs:complexContent>
      <xs:extension base="DocumentedItem">
        <xs:attribute name="ctype" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="conditionalVariablesType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element name="variable" type="variableType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      <xs:element name="condition" type="conditionalVariablesType" maxOccurs="unbounded"
        minOccurs="1"></xs:element>
    </xs:choice>
    <xs:attribute name="check" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="retvalType">
    <xs:attribute name="value" type="xs:string"></xs:attribute>
  </xs:complexType>
</xs:schema>